# === Python / FastAPI ===
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/
.coverage
coverage.xml
pytestdebug.log
htmlcov/
*.sqlite3
*.db
.venv/
venv/
.venv/Lib/site-packages/
.venv/Lib/site-packages/_soundfile.py
pip-wheel-metadata/

# === Environment Variables ===
.env
.env.*
.env.docker

# === Datasets & Temp Files ===
dataset/
python_file/
backend/temp_audio/

# === Frontend (Node / React) ===
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/build/
frontend/dist/
node_modules/
dist/
dist-ssr/
*.local

# === Logs ===
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Docker ===
*.pid
*.tar
docker-compose.override.yml

# === IDEs and Editors ===
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === OS & Misc Files ===
.DS_Store
Thumbs.db
*.bak
*~
